*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.tmp
.DS_Store
.idea
.project
dist
.strong-pm
coverage
node_modules
npm-debug.log
bower_components
tmp
package-lock.json

