<div uk-sticky="media: 960" class="uk-navbar-container tm-navbar-container uk-sticky uk-sticky-fixed" style="border-bottom: thin solid #EEE; position: fixed; top: 0px; width: 876px;">
  <div class="uk-section uk-section-default uk-light small-section">
    <nav class="uk-navbar gradient">
      <div class="uk-container uk-navbar-left">
        <img ng-src="assets/images/logo.png"  class="companyLogo">
      </div>
      <div class="uk-container uk-navbar-right">
        <div class="uk-inline">
          <a ng-click="goTo('login')" ng-show="memberAccessToken != null" class="uk-button uk-button-primary uk-button-right tm-button-primary logout"> &nbsp;&nbsp;&nbsp;Logout&nbsp;
            <span class="uk-form-icon marginl" uk-icon="icon: sign-out"></span>
          </a>
        </div>
      </div>
    </nav>
  </div>
</div>
