<table class="uk-table uk-table-justify uk-table-divider uk-table-striped" id="printablediv">
    <thead>
        <tr>
            <th style="text-align: center;">Amount</th>
            <th style="text-align: center;">Spend On</th>
            <th style="text-align: center;">Recipts</th>
            <th style="text-align: center;">Created</th>
        </tr>
    </thead>
    <tbody class="font08">
        <tr ng-repeat="data in summary">
          <td ng-bind="data.amount"></td>
            <td ng-bind="data.reason"></td>
            <td><button class="uk-button uk-button-default" type="button" ng-if="data.recipt" href="{{data.recipt}}"></button> <span ng-if="!data.recipt" ng-bind="'NA'"></span> </td>
            <td ng-bind="pendingTime(data.id) + ' ago'"></td>
        </tr>
    </tbody>
</table>

<button class="uk-width-1-3 uk-button uk-button-primary tm-button-primary" ng-click="funcs.printDiv()">
  <span class="uk-inline" uk-icon="icon: pull"></span>
  <span ng-hide="load.submit">Print</span>
  <span uk-spinner ng-show="load.submit"></span>
</button>
<button class="uk-width-1-3 uk-button uk-button-primary tm-button-primary" ng-json-export-excel data="summaryData" report-fields="{amount: 'Amount', reason: 'Spend On', recipt: 'Recipt Link', creationTime: 'Creation Time'}" filename="'summaryTable'" ng-click="exportSummaryTable()">
  <span class="uk-inline" uk-icon="icon: forward"></span>
  <span ng-hide="load.submit">Export Excel</span>
  <span uk-spinner ng-show="load.submit"></span>
</button>
